[Desktop Entry]
Name=Kross Scripting
Name[cs]=Skriptování Kross
Name[de]=Kross-Skripte
Name[es]=Programación de guiones con Kross
Name[et]=Krossi skriptimine
Name[fr]=Langage de scripts Kross
Name[gl]=Scripts de Kross
Name[hu]=Kross szkriptkezelő
Name[km]=ការ​ស្គ្រីប Kross
Name[mr]=क्रोस स्क्रिप्टिंग
Name[nds]=Kross-Skripten
Name[nl]=Kross Scripting
Name[pl]=Skrypty Kross
Name[pt]=Programação em Kross
Name[pt_BR]=Kross Scripting
Name[sk]=Kross Scripting
Name[sv]=Skripthantering med Kross
Name[tr]=Kross Betikleme
Name[uk]=Скрипти Kross
Name[x-test]=xxKross Scriptingxx
Comment=Kross scripting plugin for Aki
Comment[cs]=Skriptovací modul Kross pro Aki
Comment[de]=Kross-Skriptmodul für Aki
Comment[es]=Complemento de programación de guiones Kross para Aki
Comment[et]=Aki Krossi skriptiplugin
Comment[fr]=Module externe de langage de scripts Kross pour Aki
Comment[gl]=Engadido de scripts de Kross para o Aki
Comment[hu]=Kross szkriptkezelő bővítmény az Akihoz
Comment[km]=កម្មវិធី​ជំនួយ​ស្គ្រីប Kross សម្រាប់​ Aki
Comment[mr]=आकि करिता क्रोस स्क्रिप्टिंग प्लगइन
Comment[nds]=Kross-Skriptmoduul för Aki
Comment[nl]=Kross-scripting plugin voor Aki
Comment[pl]=Wtyczka skryptów Kross dla Aki
Comment[pt]='Plugin' programado em Kross para o Aki
Comment[pt_BR]=Plugin do Kross scripting para o Aki
Comment[sk]=Plugin pre Kross scripting pre Aki
Comment[sv]=Aki insticksprogram för skripthantering med Kross
Comment[tr]=Aki için Kross betikleme eklentisi
Comment[uk]=Додаток до Aki для роботи зі скриптами Kross
Comment[x-test]=xxKross scripting plugin for Akixx
Type=Service
Icon=aki
ServiceTypes=Aki/Plugin
X-KDE-Library=akiscriptingplugin
X-KDE-PluginInfo-Author=Keith Rusler
X-KDE-PluginInfo-Email=koma@live.de
X-KDE-PluginInfo-Name=akiscriptingplugin
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=http://www.akiirc.org/
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
