[Desktop Entry]
Name=Kross Scripting
Name[de]=Kross-Skripte
Name[fr]=Scriptage Kross
Name[km]=ការ​ស្គ្រីប Kross
Name[nds]=Kross-Skripten
Name[nl]=Kross Scripting
Name[pt]=Programação em Kross
Name[pt_BR]=Kross Scripting
Name[uk]=Скрипти Kross
Name[x-test]=xxKross Scriptingxx
Comment=Kross scripting plugin for Aki
Comment[fr]=Module externe de scriptage Kross pour Aki
Comment[km]=កម្មវិធី​ជំនួយ​ស្គ្រីប Kross សម្រាប់​ Aki
Comment[nds]=Kross-Skriptmoduul för Aki
Comment[nl]=Kross-scripting plugin voor Aki
Comment[pt]='Plugin' programado em Kross para o Aki
Comment[pt_BR]=Plugin do Kross scripting para o Aki
Comment[uk]=Додаток до Aki для роботи зі скриптами Kross
Comment[x-test]=xxKross scripting plugin for Akixx
Type=Service
Icon=aki
ServiceTypes=Aki/Plugin
X-KDE-Library=akiscriptingplugin
X-KDE-PluginInfo-Author=Keith Rusler
X-KDE-PluginInfo-Email=koma@live.de
X-KDE-PluginInfo-Name=akiscriptingplugin
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=http://www.akiirc.org/
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
