#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=aki
Icon=aki
Name=Aki
Name[x-test]=xxAkixx
GenericName=IRC Client
GenericName[da]=IRC-klient
GenericName[de]=IRC-Programm
GenericName[es]=Cliente IRC
GenericName[et]=IRC klient
GenericName[fr]=Client IRC
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ IRC
GenericName[nb]=IRC-klient
GenericName[pt]=Cliente de IRC
GenericName[pt_BR]=Cliente IRC
GenericName[ro]=Client IRC
GenericName[ru]=Клиент IRC
GenericName[sv]=IRC-klient
GenericName[tr]=IRC İstemcisi
GenericName[uk]=Клієнт IRC
GenericName[x-test]=xxIRC Clientxx
Categories=Qt;KDE;Network;
