#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=aki
Icon=aki
Name=Aki
Name[uk]=Aki
Name[x-test]=xxAkixx
GenericName=IRC Client
GenericName[uk]=Клієнт IRC
GenericName[x-test]=xxIRC Clientxx
Categories=Qt;KDE;Network;
