#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=aki
Icon=aki
Name=Aki
Name[cs]=Aki
Name[de]=Aki
Name[es]=Aki
Name[et]=Aki
Name[fi]=Aki
Name[fr]=Aki
Name[gl]=Aki
Name[hu]=Aki
Name[km]=Aki
Name[mr]=आकि
Name[nds]=Aki
Name[nl]=Aki
Name[pl]=Aki
Name[pt]=Aki
Name[pt_BR]=Aki
Name[sk]=Aki
Name[sv]=Aki
Name[tr]=Aki
Name[uk]=Aki
Name[x-test]=xxAkixx
GenericName=IRC Client
GenericName[bs]=IRC klijent
GenericName[cs]=IRC klient
GenericName[de]=IRC-Programm
GenericName[es]=Cliente IRC
GenericName[et]=IRC klient
GenericName[fi]=IRC-asiakasohjelma
GenericName[fr]=Client IRC
GenericName[ga]=Cliant IRC
GenericName[gl]=Cliente de IRC
GenericName[hu]=IRC kliens
GenericName[km]=កម្មវិធី IRC
GenericName[mr]=IRC ग्राहक
GenericName[nds]=Klöönsnackprogramm
GenericName[nl]=IRC-client
GenericName[pl]=Klient IRC
GenericName[pt]=Cliente de IRC
GenericName[pt_BR]=Cliente IRC
GenericName[sk]=IRC Client
GenericName[sv]=IRC-klient
GenericName[tr]=IRC İstemcisi
GenericName[ug]=IRC خېرىدارى
GenericName[uk]=Клієнт IRC
GenericName[x-test]=xxIRC Clientxx
Categories=Qt;KDE;Network;
