[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Aki/Plugin
X-KDE-Derived=KPluginInfo
Comment=Aki Plugin
Comment[bs]=Aki Plugin
Comment[cs]=Modul Aki
Comment[de]=Aki-Modul
Comment[es]=Complemento de Aki
Comment[et]=Aki plugin
Comment[fr]=Module externe Aki
Comment[gl]=Complemento do Aki
Comment[hu]=Aki bővítmény
Comment[km]=កម្មវិធី​ជំនួយ Aki
Comment[mr]=आकि प्लगइन
Comment[nds]=Aki-Moduul
Comment[nl]=Aki-plugin
Comment[pl]=Wtyczka Aki
Comment[pt]='Plugin' do Aki
Comment[pt_BR]=Plugin do Aki
Comment[sk]=Plugin Aki
Comment[sv]=Insticksprogram för Aki
Comment[tr]=Aki Eklentisi
Comment[uk]=Додаток до Aki
Comment[x-test]=xxAki Pluginxx
