<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="4" name="aki">
<MenuBar>
    <Menu name="aki">
        <Text>&amp;Aki</Text>
        <Action name="akiNetworkList" />
        <Action name="akiQuickConnection" />
        <Separator />
        <Action name="akiReconnect" />
        <Action name="akiDisconnect" />
        <Separator />
        <Action name="akiQuit" />
    </Menu>
    <Menu name="settings">
        <Action name="settingsIdentityList" />
    </Menu>
    <Action name="bookmarks" />
</MenuBar>
<!--<ToolBar>
    <Text>Aki ToolBar</Text>
    <Action name="toolBarStyleSelector">
        <Text>Styles</Text>
    </Action>
</ToolBar>-->
</kpartgui>