<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="aki" version="18">
    <MenuBar>
        <Menu name="file">
            <Text context="@title:menu">&amp;Aki</Text>
            <Menu name="akiNew">
                <Text>&amp;New</Text>
                <Action name="newServerTab" />
            </Menu>
            <Action name="quickConnection" />
            <Separator />
            <Action name="reconnect" />
            <Action name="disconnect" />
            <Separator />
            <Action name="quit" />
        </Menu>
        <Menu name="edit" append="aki_merge">
            <Action name="clearAllWindows" />
        </Menu>
        <Menu name="view">
            <Text>&amp;View</Text>
            <Menu name="panels">
                <Text>Panels</Text>
            </Menu>
        </Menu>
        <Menu name="settings">
            <Action name="identity" />
            <Separator />
            <Action name="channelMonitor" />
        </Menu>
        <Menu name="window" append="settings_merge">
            <Text>&amp;Window</Text>
            <Action name="charselector" />
            <Action name="urlWatcher" />
            <Action name="messageLog" />
            <Action name="replaceDialog" />
            <Separator />
        </Menu>
  </MenuBar>
</gui>
