<!DOCTYPE kpartgui>
<kpartgui name="aki" version="2">
    <MenuBar>
        <Menu name="tools">
            <Text>Tools</Text>
            <Action name="scriptmanager" />
            <Action name="scriptconsole" />
        </Menu>
    </MenuBar>
</kpartgui>