[Desktop Entry]
Name=Kross
Name[x-test]=xxKrossxx
Comment=Kross scripting plugin for Aki
Comment[x-test]=xxKross scripting plugin for Akixx
Type=Service
Icon=
ServiceTypes=Aki/Plugin
X-KDE-Library=akikrossplugin
X-KDE-PluginInfo-Author=Keith Rusler
X-KDE-PluginInfo-Email=xzekex@live.co.uk
X-KDE-PluginInfo-Name=AkiKrossPlugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
