[Desktop Entry]
Type=Service
Icon=amarok
ServiceTypes=Aki/Plugin
X-KDE-Library=aki_amarokremotecontrolplugin
X-KDE-PluginInfo-Author=Keith Rusler
X-KDE-PluginInfo-Email=xzekex@live.co.uk
X-KDE-PluginInfo-Name=aki_amarokremotecontrolplugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Amarok Remote Control
Name[pt]=Comando à Distância do Amarok
Name[ro]=Telecomandă Amarok
Name[sv]=Amarok fjärrkontroll
Name[tr]=Amarok Uzaktan Denetim
Name[uk]=Віддалене керування Amarok
Name[x-test]=xxAmarok Remote Controlxx
Comment=Remote control for Amarok2
Comment[pt]=Um comando à distância para o Amarok 2
Comment[ro]=Telecomandă pentru Amarok2
Comment[sv]=Fjärrkontroll för Amarok2
Comment[tr]=Amarok2 için uzaktan denetim
Comment[uk]=Віддалене керування для Amarok2
Comment[x-test]=xxRemote control for Amarok2xx
